*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-image:url(imaganes/fondo1.jpeg);
}

form{
    width:20%;
    margin:auto;
    padding:1em;
    border:1px solid #D4CECF;
    margin-top:10%;
    background-color:rgba(255,255,255,0.7);
    border-radius:5px;
}

form label, i{
    font-size:1.1em;
    margin:10px;
    color:#363031;
    font-family:'Times New Roman', Times, serif;
}

form input{
    margin:5px;
    width:95%;
    border:none;
    border-bottom:2px solid #363031;
    background: none;
}

form input[type="button"]{
width:50%;
border-bottom: none;
padding:10px;
}

form input:hover{
    cursor:pointer;
    border-bottom:2px solid #D4CECF;
    padding:2px;
    transition: all 1s;
}

form input[type="button"]:hover{
    padding:15px;
}


