*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-image:url(imaganes/fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    width:35%;
    margin:auto;
    padding:1em;
    border:1px solid #D4CECF;
    margin-top:10%;
    background-color:rgba(255,255,255,0.7);
    border-radius:5px;
}

form label, i{
    font-size:1.1em;
    margin:10px;
    color:#363031;
    font-family:'Times New Roman', Times, serif;
}

form input{
    margin:10px;
    width:95%;
    border:none;
    border-bottom:2px solid #363031;
    background: none;
    padding:10px;
}

form input[type="button"]{
width:70%;
border-bottom: none;
padding:10px;
}

form input:hover{
    cursor:pointer;
    border-bottom:2px solid #D4CECF;
    transition: all 1s;
}

form input[type="button"]:hover{
    background-color:black;
    color:white;
    transition: all ease 1s;
}

form fieldset a{
    text-decoration:none;
    cursor:pointer;
    display:block;
    padding:10px;
    color:black;

}

form fieldset a:hover{
    background-color:black;
    color:white;
    transition: all ease 1s;
}

@media screen and (max-width:960px){
    form{
        width:80%;
    }
   form input[type="button"]{
    width:100%;
   } 
}


